@charset "UTF-8";
/* 
General css rules
*/

html {
    height:100%;
}
img.card{
	height:300px;
	width:200px;
}
body {
    background-image: url("http://proovdb.hol.es/assets/img/taust.jpg");
    background-repeat: repeat-x;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 75%;
    min-height:100%;
    margin:0;
    padding:0;
    
}

#container {
    position: relative;
    padding:10px;
    padding-bottom:15px;
    width: 100%;
	min-width:700px;
    margin: 0px auto;    
}

#header{
    border-bottom: 1px solid #dfe2e1;
    position: relative;
    min-height: 130px;
    margin-bottom: 25px


}
#cardclick{
cursor:hand;
cursor:pointer;
}
IMG.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
	
	 }
	
	
	




.register_link{
    padding-right:20px;
    padding-left:10px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color:white;
    font-size: 12px;

}
.login_link{
    padding-left:10px;
    padding-right:10px;
    border-left: 1px solid #dfe2e1;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color:white;
    font-size: 12px;
	
	right:0px;
	
}


#loginregister{
	clear:both;
	float:right;
	margin-left:auto; 
	margin-right:0;
	}


/* Navigation bar */
ul#list-nav {
    position:absolute;
    bottom:15px;
    
    margin: 0px;
    padding: 0;
    list-style: none;
    width: 500px;
}

ul#list-nav li {
    display: inline
}

ul#list-nav li a {
    text-decoration: none;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 170%;
    padding:2px 0;
    width: 15%;
    height: 30px;
    color: #000;
    float: left;
    text-align: center;
    

}
ul#list-nav li.active a{
    color: #990000
}
ul#list-nav li:last-child a{
    border-right:0px
}

ul#list-nav li a:hover {
    color: #990000
}





#form_sent{
	color:#306754;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:1.2em;
	width:70%;
	margin-right:auto;
	margin-left:auto;
	padding:0.3em;
	text-align:center;
	display:none;
	height:inherit;
}






/* Footer  style */

#footer {
	
	border-top: 1px solid #dfe2e1;
		position:absolute;
		bottom:0;
		width:100%;
		height:15px;
		color:#FFF;
}
#joon{
	color:#FFF;
}
#bottom {
    clear: both;
    text-align: center;
}
